body{
  margin:0;
  font-family:Arial;
}

nav{
  display:flex;
  justify-content:space-between;
  padding:15px 40px;
  background:#222;
  color:white;
}

nav ul{
  display:flex;
  gap:20px;
  list-style:none;
}

nav a{
  color:white;
  text-decoration:none;
}

.hero{
  height:90vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background:linear-gradient(to right,#4facfe,#00f2fe);
  color:white;
  text-align:center;
}

.hero button{
  padding:12px 25px;
  border:none;
  background:black;
  color:white;
  cursor:pointer;
  margin-top:20px;
}

.box{
  padding:60px 20px;
  text-align:center;
}

.cards{
  display:flex;
  gap:20px;
  justify-content:center;
  flex-wrap:wrap;
}

.card{
  padding:30px;
  background:#eee;
  width:200px;
  border-radius:10px;
}

input,textarea{
  display:block;
  width:250px;
  margin:10px auto;
  padding:10px;
}

footer{
  background:#222;
  color:white;
  padding:20px;
  text-align:center;
}

/* mobile */
@media(max-width:600px){
nav{flex-direction:column;align-items:center;}
}